<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Daftar Tamu</title>
</head>
<body>
<h1>Daftar Tamu</h1>


<table>
    <thead>
    <tr>
        <th>Nama</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="t : ${daftarTamu.content}">
        <td th:text="${t.nama}">Nama</td>
        <td th:text="${t.email}">Email</td>
    </tr>
    </tbody>
</table>

</body>
</html>
